@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

body {
    background-color: aqua;
    font-family: "Averia Gruesa Libre", system-ui;
}

.iconDiv {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fa-whatsapp {
    font-size: 29px;

}

nav {
    background-color: rgb(217, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.navlinks {
    display: flex;
    gap: 20px;
}

.logo {
    width: 180px;
    height: 80px;
}

.section2 {
    display: flex;
    /* view height */
    height: 90vh;
    justify-content: center;
    align-items: center;

}

.sect2Div1 {
    padding: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect2Div2 {

    width: 50%;
}

.sect2Div2 h1 {
    font-size: 52px;
}

.sect2Div2 p {
    letter-spacing: 2px;
    margin: 10px 0px;

}

.sect2Div2Links a {
    font-size: 20px;
    color: brown;

}

.sect2Div2Links a i:hover {
    color: aqua;
}

.section3 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 120px;
    align-items: center;
}

.section3 h2 {
    font-size: 32px;
}


.section3 h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

/* section 4 starts here */

.section4 {
    margin: 50px 0px;
}

.section4heading {
    font-size: 44px;
    text-align: center;
}

.section4heading:hover {
    text-decoration: underline;
}

.section4Cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px;
}

.section4Cards div {
    width: 30%;
    border-bottom: 1px solid gray;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.section4Cards ul {
    padding-left: 20px;
}


.section4Cards ul li {
    list-style: circle;

}

.section5 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 120px;
    gap: 40px;
    align-items: center;
}

.section5 button {
    padding: 5px 10px;
    background-color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.section5 button:hover {
    cursor: pointer;
    scale: 1.1;
}

.section6 {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6Heading {
    margin-top: 50px;
    font-size: 44px;
    text-align: center;

}

form {

    width: 60%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    width: 80%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    margin: 5px 0px;
}

form div input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 0;
}

form div textarea {
    width: 100%;
    outline: none;
    border: 0;
    resize: none;
    border-radius: 3px;
    padding: 8px;
}

.formbtnarea {
    display: flex;
    justify-content: center;
    align-items: center
}

.btn {
    width: 20%;
    background-color: white;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;

}