* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.boxes{
    /* CHANGED THE LAYOUT OF BLOCK LEVEL ELEMS FROM COLS TO ROW  */
        display: flex;
        background-color: blue;
        height: 100vh;
        /* gap: 30px; */
        /* align-items: center;
        justify-content: center; */
        /* flex-direction: column-reverse; */

        /* <- row alignment -> */
        justify-content: space-evenly;

        /* colm wise */
        align-items: center;

        flex-wrap: wrap;
}
.box {
    border: 2px solid black;
    width: 400px;
    height: 250px;
    background-color: blanchedalmond;
}

h1{
    background-color: red;
}