* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.card {
    width: 320px;
    height: 300px;
    border: 2px solid orange;
    /* padding: 20px; */
    /* top right bottom left */
    /* padding: 20px 60px 10px 100px; */

    /* first value is for top bottom , second left right */
    padding: 10px 20px;
    background-color: azure;
    /* border-radius: 50%; */
    text-align: center;
    /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */

    /* background-image: url("../images/BQ1.jpg"); */
    background-size: cover;
    background-position: center;

    /* background: linear-gradient(to right, #ff6a00, #f9d423); */
    overflow: auto;
}